[Unit]
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExitType=cgroup
ExecStartPre=/usr/bin/sleep 10
ExecStart=/usr/libexec/ibus-ui-gtk3 --enable-wayland-im --exec-daemon --daemon-args "--xim --panel disable"
Restart=on-failure
TimeoutSec=15s
