[Unit]
Description=Notes - sync git repo before shutdown
After=network-online.target
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=/bin/true
ExecStop=%h/nerd-stuff/notes/scripts/sync.fish
RemainAfterExit=yes
TimeoutStopSec=10s

[Install]
WantedBy=multi-user.target
