[Unit]
Description=Notes - sync git repo on shutdown

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=%h/nerd-stuff/notes/scripts/sync.fish
TimeoutStopSec=10s

[Install]
WantedBy=default.target
