[Unit]
Description=Notes - daily note sync

[Service]
Type=oneshot
ExecStartPre= %h/nerd-stuff/notes/scripts/sync.fish
ExecStart=%h/nerd-stuff/notes/scripts/daily.fish
