[Unit]
Description=Notes - weekly note sync

[Service]
Type=oneshot
ExecStart=%h/nerd-stuff/notes/scripts/sync.fish && %h/nerd-stuff/notes/scripts/daily.fish
