/* === global === */
* {
  font-family:
    Caveat,
    Monofoki Nerd Font,
    Zen Maru Gothic,
    ZCOOL KuaiLe;
  font-size: 14pt;
  font-weight: 700;
  color: white;
  text-shadow:
    0px 0px 5px white,
    0px 0px 5px white,
    0px 0px 7px white,
    0px 0px 2px black,
    0px 0px 2px black,
    0px 0px 2px black,
    0px 0px 2px black,
    0px 0px 2px black,
    0px 0px 2px black,
    0px 0px 2px black,
    0px 0px 2px black,
    0px 0px 2px black,
    0px 0px 2px black,
    0px 0px 2px black,
    0px 0px 2px black;
  margin: 0;
}

#waybar {
  background-color: rgba(0, 0, 0, 0.2);
}

#waybar > * {
  padding: 0 5px;
}

/* === modules === */
.module {
  border-radius: 0 0 6px 6px;
  margin: 0px 3px;
  padding: 0px 12px;
  background-color: transparent;
}

#workspaces button:hover > *,
.module:hover > * ,
.module:hover {
  font-family:
    Caveat Brush,
    Monofoki Nerd Font,
    Zen Maru Gothic,
    ZCOOL KuaiLe;
}

/* .module:active doesn't do anything actually... */
#workspaces button:active > *,
.module:active {
  font-family:
    Caveat,
    Monofoki Nerd Font,
    Zen Maru Gothic,
    ZCOOL KuaiLe;
}

#waybar.hidden {
  opacity: 0.5;
}

/* === workspaces === */
/* override our hover and default styles... */
#workspaces:hover {
  font-weight: 700;
  font-style: normal;
}

#workspaces button:hover {
  background-color: transparent;
}

/* the rest */
#workspaces button.active > * {
  text-shadow:
    0px 0px 5px white,
    0px 0px 5px white,
    0px 0px 7px white;
}

#workspaces button:hover > * {
  text-decoration: solid underline;
}

/* === tooltip and tray menu === */
tooltip,
#tray menu {
  background-color: rgba(0, 0, 0, 0.5);
  /* border-radius: 20px; */
}

tooltip box {
  padding: 2px 4px;
}

tooltip label {
  text-shadow: none;
}

/* === module colors === */
/*
#clock {
  background-color: #89b4fa;
}
#custom-power {
  background-color: #f38ba8;
}
#custom-reboot {
  background-color: #a6e3a1;
}
#bluetooth {
  background-color: #f9e2af;
}
#battery {
  background-color: #cba6f7;
}
#pulseaudio {
  background-color: #89dceb;
}
#backlight {
  background-color: #a6a3a1;
}
#custom-temperature {
  background-color: #74c7ec;
}
#memory {
  background-color: #f7768e;
}
#cpu {
  background-color: #f38ba8;
}
#network {
  background-color: #fab387;
}
#custom-lock {
  background-color: #94e2d5;
}
#window {
  background-color: #74c7ec;
}
#tray {
  background-color: rgba(36, 36, 52, 1);
}
*/
