/* fonts, unset styles */
* {
  font-family:
    Caveat,
    Monofoki Nerd Font,
    Zen Maru Gothic,
    ZCOOL KuaiLe;
  font-size: 18pt;
  font-weight: 700;
  color: white;
  background: transparent;
  border: none;
}

/* animations */
@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* control center */
.control-center {
  background: rgba(0, 0, 0, 0.4);
  margin: 10px;
  padding: 0;
  animation: slideIn 0.15s ease-in-out;
}

/* common */
.notification-row .notification-background .notification .notification-content ,
.close-button,
.notification .image {
  border-radius: 0;
  background: black;
  border: 5px solid white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

/* notifications */
.notification-row .notification-background .notification .notification-content  {
  margin: 0 10px;
  padding: 10px;
  transform: skewX(2deg) skewY(-1deg) scale(0.9);
  border-radius: 5px;
  transition: all 0.2s;
}

.notification-row .notification-background .notification:hover .notification-content  {
  transform: none;
}

.notification-row .notification-background .notification:active .notification-content  {
  transform: skewX(2deg) skewY(-1deg) scale(0.8);
}

.notification-row .notification-background .notification:hover .notification-content  * {
  /* font-family: Caveat brush; */
  color: white;
  --highlight-color: #8d3290;
  text-shadow:
    0px 0px 4px var(--highlight-color),
    0px 0px 4px var(--highlight-color),
    0px 0px 4px var(--highlight-color),
    0px 0px 4px var(--highlight-color),
    0px 0px 4px var(--highlight-color),
    0px 0px 4px var(--highlight-color),
    0px 0px 4px var(--highlight-color),
    0px 0px 4px var(--highlight-color),
    0px 0px 4px var(--highlight-color),
    0px 0px 4px var(--highlight-color),
    0px 0px 4px var(--highlight-color),
    0px 0px 4px var(--highlight-color),
    0px 0px 4px var(--highlight-color),
    0px 0px 4px var(--highlight-color),
    0px 0px 4px var(--highlight-color),
    0px 0px 4px var(--highlight-color),
    0px 0px 4px var(--highlight-color),
    0px 0px 4px var(--highlight-color),
    0px 0px 4px var(--highlight-color),
    0px 0px 4px var(--highlight-color),
    0px 0px 4px var(--highlight-color),
    0px 0px 4px var(--highlight-color),
    0px 0px 4px var(--highlight-color),
    0px 0px 4px var(--highlight-color),
    0px 0px 4px var(--highlight-color),
    0px 0px 4px var(--highlight-color),
    0px 0px 4px var(--highlight-color),
    0px 0px 4px var(--highlight-color),
    0px 0px 4px var(--highlight-color),
    0px 0px 4px var(--highlight-color),
    0px 0px 4px var(--highlight-color),
    0px 0px 4px var(--highlight-color),
    0px 0px 4px var(--highlight-color),
    0px 0px 4px var(--highlight-color),
    0px 0px 4px var(--highlight-color),
    0px 0px 4px var(--highlight-color),
    0px 0px 4px var(--highlight-color),
    0px 0px 4px var(--highlight-color),
    0px 0px 4px var(--highlight-color),
    0px 0px 4px var(--highlight-color),
    0px 0px 4px var(--highlight-color);
}

/* TODO notif image */
.notification .image {
  border-radius: 5px;
  transform: translateX(-20px) skewX(-3deg) skewY(1deg) scale(1.1);
}

/* close button */
.close-button {
  margin: 5px;
  padding: 5px;
  transform: skewX(-4deg) skewY(1deg) scale(0.9);
}

.close-button:hover {
  transform: skew(-1deg, 0deg) scale(1.1);
}

.close-button:active {
  transform: skewX(-4deg) skewY(1deg) scale(0.8);
}

.control-center .control-center-list-placeholder {
  opacity: 1;
}
