/* misc */
#window,
#box,
#aiScroll,
#aiList,
#search,
#password,
#input,
#prompt,
#clear,
#typeahead,
#list,
child,
scrollbar,
slider,
#item,
#text,
#label,
#bar,
#sub,
#activationlabel {
  all: unset;
}

#cfgerr {
  background: rgba(255, 0, 0, 0.4);
  margin-top: 20px;
  padding: 8px;
  font-size: 1.2em;
}

/* text */
* {
  font-family:
    Caveat,
    Monofoki Nerd Font,
    Zen Maru Gothic,
    ZCOOL KuaiLe;
  font-size: 20pt;
  font-weight: 700;
  color: white;
  margin: 0;
}

/* main box */
#box {
  background: transparent;
}

#prompt {
  margin-left: 4px;
  margin-right: 12px;
  color: white;
  opacity: 0.2;
}

#input placeholder {
  opacity: 0.5;
}

#list {
  padding: 8px 30px;
}

/* search and highlighted stuff */
#search {
  padding: 8px 0;
}

#search,
child:selected,
child:hover {
  background: black;
  border: 5px solid rgb(255, 255, 255);
  transform: none;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}

child:selected > *,
child:hover {
  font-family: Caveat brush;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}

/* individual app items */
child {
  background: black;
  padding: 14px;
  margin-bottom: 10px;
  border: 3px solid rgb(255, 255, 255);
  transform: skewX(2deg) skewY(-1deg) scale(0.9);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

#icon {
  margin-right: 14px;
}

/* child:nth-child(1) {
  transform: skewX(2deg) skewY(-1deg) scale(0.95);
} */


#label {
}

#sub {
  opacity: 0.5;
  font-size: 0.8em;
}
